body, html {
    margin: 0;
    padding: 0;
}
#container {
    width: 100%;
    height: 100%;
}
.table {
    display: flex;
    width: 100%;
}
.table_main {
    position: relative;
    overflow: auto;
}
.header-cell,
.number-cell,
.cell {
    display: inline-block;
    height: 1.5rem;
    width: 5rem;
    text-align: center;
    background: rgb(200,200,200);
    border: 1px solid black;
    vertical-align: middle;
}
.cell {
    background: white;
    outline: none;
    vertical-align: top;
    text-align: center;
}
.number-cell {
    width: 2rem;
}
input {
    width: 95%;
    border: none;
    height: 90%;
    line-height: 1rem;
    outline: none;
    margin: 0;
    display: block;
    padding: 2px;
    box-sizing: border-box;
}

.table_header,
.table_row{
    display: block;
    word-break: keep-all;
    white-space: nowrap;
}
.table_rows-numbers {
    display: flex;
    flex-direction: column;
}